<h2>Доска позора на сегодня</h2>
<table>
  <% @stats[0..9].compact.each do |s| %>
    <% current_word = @words.detect{|item| item.id == s[0]} || next %>
    <tr>
      <td><%= current_user.from_for_word(current_word) %></td>
      <td><%= current_user.to_for_word(current_word) %></td>
    </tr>
  <% end %>
</table>
